:root {
    --albumcontent-default-width: 120px;
    --albumcontent-default-height: 90px;
    --albumcontent-medium-width: 320px;
    --albumcontent-medium-height: 180px;
    --albumcontent-high-width: 480px;
    --albumcontent-high-height: 360px;
    --albumcontent-standard-width: 640px;
    --albumcontent-standard-height: 480px;
    --albumcontent-maxres-width: 1280px;
    --albumcontent-maxres-height: 720px;
}


.albumcontent-card-medium {
    margin: 20px 10px 0 10px;
    width: calc(var(--albumcontent-medium-width) + 10px);
    border: 1px solid rgb(206, 17, 65);
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    font-size: 20px;
    text-align: center;
}

.albumcontent-card-medium img {
    padding: 5px;
}

.albumcontent-card-medium p.albumcontent-card-title {
    display: block;
    font-family: 'Indie Flower', cursive;
    width: calc(100% - 10px);
    padding-bottom: 5px;
    margin: auto;
}


.albumcontent-grid-container {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}