.main-title {
    padding-top: 200px;
    padding-bottom: 60px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 100px;
}

.main-paragraph {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 40px;
}