:root {
    --major-gap: 20px;
    --users-button-width: 160px;
    --users-newalbum-cell-2: var(--users-button-width);
    --users-newalbum-cell-3: var(--users-button-width);
    --users-newalbum-cell-1: calc(100% - var(--users-newalbum-cell-2) - var(--users-newalbum-cell-3) - var(--major-gap));
    --users-table-width: 70%;
    --users-table-cell-0: 50px;
    --users-table-cell-3: max(100px, calc((100% - var(--users-table-cell-0)) * 0.15));
    --users-table-cell-4: max(80px, calc((100% - var(--users-table-cell-0)) * 0.05));
    /* --users-table-cell-1: calc((100% - var(--users-table-cell-0) - var(--users-table-cell-3) - var(--users-table-cell-4)) * 0.5);
    --users-table-cell-2: calc((100% - var(--users-table-cell-0) - var(--users-table-cell-3) - var(--users-table-cell-4)) * 0.3);
    --users-table-cell-5: calc((100% - var(--users-table-cell-0) - var(--users-table-cell-3) - var(--users-table-cell-4)) * 0.2); */
}

.users-table-container {
    width: var(--users-table-width);
    margin-left: calc((100% - var(--users-table-width)) / 2);
}

.users-row {
    display: flex;
    flex-direction: row;
}

.users-button-anchor-right {
    margin-left: auto;
}

.users-table-checkbox {
    transform: scale(2);
}
.users-table-checkbox:hover {
    cursor:pointer;
}

.users-newalbum-input {
    width: 100%;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    border: 2px solid rgb(206, 17, 65);
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.users-button {
    cursor: pointer;
    margin-bottom: var(--major-gap);
    font-family: 'Indie Flower', cursive;
    width: var(--users-button-width);
    background-color: transparent;
    border: 2px solid rgb(206, 17, 65);
    font-size: 40px;
}
.users-button:hover {
    transition: 0.4s;
    background-color: rgb(214, 140, 159);
}


.users-table-cell-0 {
    width: var(--users-table-cell-0);
    margin-right: -2px;
}
.users-table-cell-1 {
    /* width: var(--users-table-cell-1); */
    margin-right: -2px;
}
.users-table-cell-2 {
    /* width: var(--users-table-cell-2); */
    margin-right: -2px;
}
.users-table-cell-3 {
    width: var(--users-table-cell-3);
    margin-right: -2px;
}
.users-table-cell-4 {
    width: var(--users-table-cell-4);
    margin-right: -2px;
}
/* .users-table-cell-5 {
    width: var(--users-table-cell-5);
} */

div[class^='users-table-cell'] {
    box-sizing: content-box;
    margin-top: -2px;
    border: 2px solid rgb(206, 17, 65);
}